* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
body{
  background-color: #11100e;
  padding: 1em;
  width: 100dvw;
    }
h1, h2{
  color: #f4f3f2;
      }
.hr{
  border-top:1px solid #c4c3c2;
  margin: 0.5em 0;
   }
img{
  width: 10vw;
  position: fixed;
  bottom: 0;
  right:0;
}
